<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pawsitive Pet Care</title>
  </head>
  <body class="bg-gray-100">    
    <app-header/>
    <main class="container mx-auto my-8">
      <section class="text-center mb-12">
        <h2 class="text-3xl font-semibold mb-4">
          Welcome to Pawsitive Pet Care
        </h2>
        <p class="text-gray-700">
          Your trusted platform for all your pet's needs, including shelter,
          veterinary services, care, and walks.
        </p>
      </section>

      <section class="grid md:grid-cols-2 lg:grid-cols-4 gap-6">
        <div class="bg-white p-6 rounded-lg shadow">
          <h3 class="text-xl font-semibold mb-2">Shelter</h3>
          <p class="text-gray-600">
            Safe and comfortable shelters for your beloved pets.
          </p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow">
          <h3 class="text-xl font-semibold mb-2">Veterinary</h3>
          <p class="text-gray-600">
            Professional veterinary services to keep your pets healthy.
          </p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow">
          <h3 class="text-xl font-semibold mb-2">Care</h3>
          <p class="text-gray-600">
            Comprehensive care services tailored to your pet's needs.
          </p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow">
          <h3 class="text-xl font-semibold mb-2">Walks</h3>
          <p class="text-gray-600">
            Regular walks to keep your pets active and happy.
          </p>
        </div>
      </section>
      <section class="my-12">
        <h2 class="text-3xl font-semibold text-center mb-6">Our Happy Pets</h2>
        <div class="overflow-hidden">
          <div class="flex animate-scroll space-x-4">
            <img src="https://cdn.pixabay.com/photo/2020/03/08/11/22/cat-4912213_640.jpg" alt="Pet 1" class="w-64 h-64 object-cover rounded-lg shadow-lg">
            <img src="https://cdn.pixabay.com/photo/2023/01/03/16/00/dog-7694676_640.jpg" alt="Pet 2" class="w-64 h-64 object-cover rounded-lg shadow-lg">
            <img src="https://cdn.pixabay.com/photo/2012/12/21/10/06/cat-71494_640.jpg" alt="Pet 3" class="w-64 h-64 object-cover rounded-lg shadow-lg">
            <img src="https://cdn.pixabay.com/photo/2015/05/05/08/36/pets-753464_640.jpg" alt="Pet 4" class="w-64 h-64 object-cover rounded-lg shadow-lg">
            <img src="https://cdn.pixabay.com/photo/2022/02/02/11/52/rabbits-6988283_1280.jpg" alt="Pet 4" class="w-64 h-64 object-cover rounded-lg shadow-lg">
            <!-- Add more images as needed -->
          </div>
        </div>
      </section>
    </main>
    <app-footer/>
  </body>
</html>